.course-item-title {
    font-weight: 700;
    font-size: 18px;
}
.course-item-value {
    font-size: 28px;
    font-weight: 300;
}

.course-item-value.top {
    color: rgb(255, 51, 51);
}

.course-item-value.bottom {
    color: rgb(19, 189, 61);
}